
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane  .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane  .scroll-bar .thumb {
    -fx-background-color: #DBD32D;
}

.scroll-pane  .scroll-bar .increment-button,
.scroll-pane  .scroll-bar .decrement-button {
    -fx-background-color: none;
}